<!DOCTYPE html>
<html>
  {% include meta.html %}
  <body>
    <div id="container">
      <div class="inner">
      <header>
          <div id="headerhead">
             <div id = "headerimg">
                 <img src="/images/inset.gif" width="110" height="110">
             </div>
             <div id = "headercont">
                 <h1><a href="/"><em>corentin</em>cadiou</a></h1>
                 <h2>Astrophysicist</h2>
             </div>
          </div>
          <nav>
              <ul class="inline-list">
                <li><a href="/"
		       {% if page.url == "/" %}class='active'{% endif %}>
		    Home</a></li>
                <li><a href="/publications/"
		       {% if page.current == 'publications' %}class='active'{% endif %}>
		    Publications</a></li>
		<li><a href="/research/"
		       {% if page.current == 'research' %}class='active'{% endif %}>
		    Research</a></li>
                <li><a href="/cv/" {% if page.current == 'cv' %}class='active'{% endif %}>CV</a></li>
		<li><a href="/codes/" {% if page.current == 'codes' %}class='active'{% endif %}>Codes</a></li>
    <li><a href="/outreach/" {% if page.current == 'outreach' %}class='active'{% endif %}>Outreach</a></li>
                <li><a href="https://github.com/cphyc" target="_blank"><img border="0" alt="Check out my GitHub!" src="/images/socialicons/GitHub-Mark-64px.png" width="32" height="32"></a></li>
                <li><a href="https://twitter.com/cphyc" target="_blank"><img border="0" alt="Follow me on Twitter!" src="/images/socialicons/twitter.png" width="32" height="32"></a></li>
              </ul>
          </nav>
        </header>
