---
layout: publications
title: Corentin Cadiou's Publications
current: publications
description: My Publications
---

<p>
  To date, I have submitted <b>{{ stats.first_author }}</b> papers as author or co-lead author.
  I also contributed to <b>{{ stats.contributor }}</b> other articles.
  My papers have been cited <b>{{stats.citations}}</b> times (h-index of {{stats.h_index}} as of {{last_check}}).
  You can check out my full record on <a href="https://ui.adsabs.harvard.edu/search/q=((author%3A%22Cadiou%2C%20C%22))%20-bibstem%3A%22zndo%22%20collection%3Aastronomy&sort=date%20desc%2C%20bibcode%20desc&p_=0" target="_blank">ADS</a>.
</p>
<ol>
  {% for paper in stats.papers %}
  <li>
    <a href="{{ paper.url }}">{{ paper.title }}</a>,
    {% for author in paper.authors %}
    {% if author.last == highlight_author -%}<b>{% endif %}
      {{ author.first -}}
      {%- if author.first != "" %}&nbsp;{% endif -%}
      {{- author.last -}}
    {%- if author.last == highlight_author %}</b>{% endif -%}
    {%- if not loop.last %}, {% else %}.{% endif %}
    {% endfor %}
    {{ paper.journal }}, {{ paper.year }}.
  </li>
  {% endfor %}
</ol>
